.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #25282A;
  filter: drop-shadow(1px 8px 9px #000);
  
  width: 350px;
 
  height: 670px;
  border-radius: 35px;
}
.IpodScreen {

  height: 35vh;
  width: 20vw;
 
  display: flex;

  
  background-color: white;
  border-radius: 3%;

}
#Left-screen {
     height: inherit;
     width: 45%;
}

#Left-screen ul {
  height: 28vh;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px;
}
#Left-screen li {
  width: 8.5vw;
}


#Right-screen {
  height: inherit;
  width: 55%;
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}




.IpodBody {
  position: relative;
  background-color: #25282A;
  display: flex;
  height: 45vh;
  justify-content: center;
  align-items: center;
  width: 20vw;
  border-radius: 35px;
 
}
#Wheel1 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: white;
}
#Wheel1 img {
  height: 7.5vh;
  width: 4vw;
  position: absolute;
}

.Menu h1{
  position: absolute;
  left: 6.5rem;
  top: 1.5rem;
  color: black;
  
}

#img1 {
  top: 8rem;
  right: 0.5rem;
  color: #b5b5b5;
  
  
}

#img2 {
  left: 0.5rem;
  top: 7.8rem;
}

#img3 {
  height: 10vh;
  bottom: 0.7rem;
  right: 7.5rem;
}

.Wheel2 {
  position: absolute;
  top: 6rem;

  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 10vw;
  border-radius: 50%;

  background-color: #25282A;
}

ul {
  list-style: none;
}
